<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 08.05.2019, 09:20</p>
            <h2><a href="">My first post</a></h2>
            <p>Шаблон - це файл, який ми можемо повторно використовувати
             для представлення різноманітної інформації в послідовному
              форматі. Наприклад, ви можете використовувати шаблон для
               допомоги у написанні листа, бо, хоча кожен лист може
                містити різне повідомлення та бути адресованим різним
                 особам, усі листи поширюватимуться у однаковому форматі.</p>
        </div>

        <div>
            <p>published: 08.05.2019, 09:20</p>
            <h2><a href="">My second post</a></h2>
            <p>URL (англ. Uniform Resource Locator — єдиний вказівник на ресурс, URL)
             - це просто веб-адреса. Відображається URL кожен раз,
             коли ви відвідуєте веб-сайт - це видно в адресному рядку
              браузера.</p>
        </div>
    </body>
</html>